server {
    listen 80;
    root /var/www/bbs_frontend/build;
    server_name server_names;
    index index.html index.htm;

    location /api/images {
        alias /var/www/bbs_backend/images;
    }

    location /api {
        proxy_pass http://localhost:2000;
    }

    location /socket.io {
        include proxy_params;
        proxy_http_version 1.1;
        proxy_buffering off;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_pass http://127.0.0.1:5000/socket.io;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}