.page-link {
    padding: 5px;
    color: black;
    border-right: #ccc 1px solid;
}

.page-link:last-of-type {
    border-right: none;
}

.highlighted-page-link {
    color: #5bc0de;
}

.pager-container {
    margin-top: -1px;
    background: white;
    padding: 5px;
}

.pager {
    display: inline-block;
    border: 1px #ccc solid;
    border-radius: 5px;
    padding: 0px 3px;
}

.pager-current-page {
    margin-left: 5px;
    width: 35px;
}

.pager-button {
    background: transparent;
    margin-left: 5px;
    border-radius: 5px;
}